* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #19a2ae;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.top-pattern {
    z-index: 0;
    position: absolute;
    bottom: 350px;
    right: 650px;
}

.bottom-pattern {
    z-index: 0;
    position: absolute;
    top: 500px;
    left: 540px;
}

.container {
    margin: auto;
    z-index: 1;
    background-color: #fff;
    width: 325px;
    height: 350px;
    border-radius: 5%;
    box-shadow: 0px 0px 20px 15px #6a6f813d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: #2d3248;
}

.top {
    width: inherit;
    height: 40%;
    background-image: url('images/bg-pattern-card.svg');
    z-index: 0;
}

.profile-pic {
    width: 96px;
    height: 96px;
    position: absolute;
    top: 25%;
    left: 35%;
    border: 5px solid #fff;
    border-radius: 50%;
    background-color: #fff;
}

.middle {
    text-align: center;
    margin-top: 40px;
}

.age {
    color: #6a6f81;
    font-weight: 400;
    margin-left: 10px;
}

.address {
    color: #6a6f81;
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1.5px ridge #6a6f8152;
    padding: 10px;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-name {
    color: #6a6f81;
    font-weight: 400;
    font-size: 15px;
    margin-top: 3px;
    line-height: 2;
}

.attribution{
    text-align: center;
    margin-bottom: 20px;
    color: #2d3248;
    z-index: 1;
}

.attribution > a{
    text-decoration: none;
    color: #ffffff;
}

@media(max-width: 375px) {
    .top-pattern {
        bottom: 480px;
        right: 80px;
    }

    .bottom-pattern {
        top: 350px;
        left: 120px;
    }
}